.custom-gradient {
  background: linear-gradient(to right, #82c591, #218838, #82c591);
}

.Ingredients {
  width: 250px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  transition: 0.3s;
}

.Ingredients:hover {
  width: 260px;
  height: 310px;
}

.Ingredients img {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  margin: 10px;
}

.Ingredients li {
  margin: 0;
  font-size: 10px;
}

.Ingredients span {
  font-size: 14px;
}

.Steps {
  overflow-y: scroll;
  position: relative;
  top: 30px;
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
}

.Ingredients:hover .Steps {
  visibility: initial;
  top: 0px;
  opacity: 1;
}

input, button {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5) !important;
}

/* Media queries for mobile */
@media (max-width: 767px) {
  .Ingredients {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .Ingredients:hover {
    width: 100%;
    height: auto;
  }

  .InputWrapper input {
    width: calc(100% - 40px);
    max-width: none;
  }
}
